td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

.input-group {
  margin: 80px 0px 20px;
}

svg {
  height: 150px;
}

td:first-of-type, td:first-of-type > div {
  height: 200px;
  width: 250px;
}

.navbar {
  background-color: lightskyblue;
  height: 60px;
  /* position: fixed;
  right: 0;
  top: 0; */
}

.navbar-brand {
  color: black;
}

.no-cities {
  margin-top: 40px;
  /* background-color: lightskyblue; */
}

.default-h {
  margin-bottom: 15px;
}

.earth {
  background-image: url('../images/world.png');
  background-size: 200% auto;
  background-repeat: repeat;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  box-shadow: inset 50px -50px 100px rgba(0, 0, 0, .6);
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    background-position: -100% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.earth {
  animation: spin 10s infinite linear;
}